<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simplePerformanceCounterSources" type="Configuration.SimplePerformanceCounterSourceConfiguration, Configuration"/>
    <section name="simpleProcessUptimeSources" type="Configuration.SimpleProcessUptimeConfiguration, Configuration"/>
    <section name="simpleProcessCountingSources" type="Configuration.SimpleProcessCountingConfiguration, Configuration"/>
    <section name="simpleDatabaseSources" type="Configuration.SimpleDatabaseConfiguration, Configuration"/>
    <section name="simplePlotters" type="Configuration.SimplePlotterConfiguration, Configuration"/>
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MetricAgent.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %-20.20c{1} [%P{processId}:%t] %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="outputPath" value="." />
  </appSettings>

  <simplePerformanceCounterSources>
    <counters>
      <add id="Committed GB" name="Committed GB" categoryName="Memory" counterName="Committed Bytes" instanceName="" min="0" max="5" points="600" outputPath="." scale="0.000000001" delay="10"/>
      <add id="% Processor" name="% Processor" categoryName="Processor" counterName="% Processor Time" instanceName="_Total"  min="0" max="100" points="600" outputPath="." scale="1" delay="10"/>
    </counters>
  </simplePerformanceCounterSources>

  <simpleProcessUptimeSources>
    <processes>
      <add id="Google Chrome Uptime" name="Google Chrome Uptime" exe="chrome" min="" max="" points="600" outputPath="." scale="1" delay="10"/>
      <add id="GitHub Uptime" name="GitHub Uptime" exe="GitHub"  min="" max="" points="600" outputPath="." scale="1" delay="10"/>
    </processes>
  </simpleProcessUptimeSources>
  
  <simpleProcessCountingSources>
    <processes>
      <add id="Google Chrome Count" name="Google Chrome Count" exe="chrome"  min="" max="" points="600" outputPath="." scale="1" delay="10"/>
      <add id="GitHub Count" name="GitHub Count" exe="GitHub"  min="" max="" points="600" outputPath="." scale="1" delay="10"/>
    </processes>
  </simpleProcessCountingSources>

  <simplePlotters>
    <plotters>
      <add id="Multiplot" name="Multiplot" sources="Google Chrome Count,GitHub Count" min="" max="" outputPath="." scale="1" delay="10" areas="1,2"/>
    </plotters>
  </simplePlotters>

  <simpleDatabaseSources>
    <databases>
      <add id="SqlServer Stuff" name="SqlServer Stuff" query="select Timestamp, Value as Value1, Value as Value2 from ExampleData" connectionString="Data Source=.\SQLEXPRESS;Initial catalog=Alembic.Metrics.Dev;Integrated Security=True" min="0" max="15" points="600" outputPath="." scale="1" delay="10" labels="testValue1,testValue2"/>
    </databases>
  </simpleDatabaseSources>
  
</configuration>