<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="processCountingSources" type="Sources.ProcessCountingSourceConfiguration, Sources" />
    <section name="processUptimeSources" type="Sources.ProcessUptimeSourceConfiguration, Sources" />
    <section name="performanceCounterSources" type="Sources.PerformanceCounterDataSourceConfiguration, Sources" />
    <section name="databaseSources" type="Sources.SqlServerDataSourceConfiguration, Sources" />
    <section name="circularDataSinks" type="Sinks.CircularDataSinkConfiguration, Sinks" />
    <section name="fileSystemDataStores" type="Sinks.FileSystemDataStoreConfiguration, Sinks" />
    <section name="chains" type="Coordination.ChainConfiguration, Coordination" />
    <section name="schedules" type="Coordination.ScheduleConfiguration, Coordination" />
    <section name="singlePlotters" type="Sinks.PlotterConfiguration, Sinks"/>
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MetricAgent.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %-30.30c{1} - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="outputPath" value="." />
  </appSettings>

  <performanceCounterSources>
    <counters>
      <add id="Committed Bytes" name="Committed Bytes Source" categoryName="Memory" counterName="Committed Bytes"/>
      <add id="% Processor" name="% Processor Source" categoryName="Processor" counterName="% Processor Time" instanceName="_Total" min="0" max="100"/>
    </counters>
  </performanceCounterSources>
  
  <processCountingSources>
    <processes>
      <add id="Google Chrome Count Source" name="Google Chrome Count Source" exe="chrome" />
      <add id="GitHub for Windows Count" name="GitHub for Windows Count" exe="GitHub"/>
    </processes>
  </processCountingSources>

  <processUptimeSources>
    <processes>
      <add id="Google Chrome Uptime Source" name="Google Chrome Uptime Source" exe="chrome"/>
      <add id="GitHub for Windows Uptime" name="GitHub for Windows Uptime" exe="GitHub"/>
    </processes>
  </processUptimeSources>

  <databaseSources>
    <databases>
      <add id="SqlServer" name="SqlServer Stuff" query="select * from ExampleData" connectionString="Data Source=.\SQLEXPRESS;Initial catalog=Alembic.Metrics.Dev;Integrated Security=True"/>
      <add id="SqlServer2" name="SqlServer2 Stuff" query="select * from ExampleData" connectionString="Data Source=.\SQLEXPRESS;Initial catalog=Alembic.Metrics.Dev;Integrated Security=True"/>
    </databases>
  </databaseSources>
    
  <circularDataSinks>
    <sinks>
      <add name="Committed Bytes Buffer" points="600"/>
      <add name="% Processor Buffer" points="600"/>
      <add name="Google Chrome Count Buffer" points="600"/>
      <add name="Google Chrome Uptime Buffer" points="600"/>
      <add name="GitHub for Windows Buffer" points="600"/>
      <add name="SqlServer Buffer" points="600"/>
      <add name="SqlServer2 Buffer" points="600"/>
    </sinks>
  </circularDataSinks>

  <fileSystemDataStores>
    <stores>
      <add name="Committed Bytes Store" outputPath="."/>
      <add name="% Processor Store" outputPath="."/>
      <add name="Google Chrome Count Store" outputPath="."/>
      <add name="Google Chrome Uptime Store" outputPath="."/>
      <add name="GitHub for Windows Store" outputPath="."/>
      <add name="SqlServer Store" outputPath="."/>
      <add name="SqlServer2 Store" outputPath="."/>
    </stores>
  </fileSystemDataStores>

  <singlePlotters>
    <plotters>
      <add name="Committed GB" outputDirectory="." min="0" max="5" scale="0.000000001" />
      <add name="% Processor" outputDirectory="." min="0" max="100" scale="1" />
      <add name="Google Chrome Count" outputDirectory="." min="0" max="10" scale="1" />
      <add name="Google Chrome Uptime" outputDirectory="." min="0" max="1000" scale="1" />
    </plotters>
  </singlePlotters>
    
  <chains>
    <links>
      <add name="Committed Bytes Buffer" source="Committed Bytes Source" sinks="Committed Bytes Buffer" />
      <add name="Committed Bytes Sinks" source="Committed Bytes Buffer" sinks="Committed Bytes Store,Committed GB" />

      <add name="% Processor Buffer" source="% Processor Source" sinks="% Processor Buffer" />
      <add name="% Processor Sinks"  source="% Processor Buffer" sinks="% Processor Store,% Processor" />

      <add name="Google Chrome Count Buffer" source="Google Chrome Count Source" sinks="Google Chrome Count Buffer" />
      <add name="Google Chrome Count Sinks"  source="Google Chrome Count Buffer" sinks="Google Chrome Count Store,Google Chrome Count" />

      <add name="Google Chrome Uptime Buffer" source="Google Chrome Uptime Source" sinks="Google Chrome Uptime Buffer" />
      <add name="Google Chrome Uptime Sinks"  source="Google Chrome Uptime Buffer" sinks="Google Chrome Uptime Store,Google Chrome Uptime" />
    </links>
  </chains>

  <!-- maybe a preload section that configures refresh, e.g. Committed Bytes Buffer from Configured Bytes Store -->
  
  <schedules>
    <schedules>
      <add name="Committed Bytes Schedule" delay="10" chains="Committed Bytes Buffer,Committed Bytes Sinks" />
      <add name="% Processor Schedule" delay="10" chains="% Processor Buffer,% Processor Sinks" />
      <add name="Google Chrome Count Schedule" delay="10" chains="Google Chrome Count Buffer,Google Chrome Count Sinks" />
      <add name="Google Chrome Uptime Schedule" delay="10" chains="Google Chrome Uptime Buffer,Google Chrome Uptime Sinks" />
    </schedules>
  </schedules>
  
</configuration>