<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="processCountingSource" type="Sources.ProcessCountingSourceConfiguration, Sources" />
  </configSections>

  <appSettings>
    <add key="outputPath" value="." />
  </appSettings>

  <processCountingSource>
    <processes>
      <add name="Google Chrome" exe="chrome" />
      <add name="Microsoft Excel" exe="excel" />
    </processes>
  </processCountingSource>
</configuration>