<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="processCountingSource" type="Sources.ProcessCountingSourceConfiguration, Sources" />
    <section name="performanceCounterSource" type="Sources.PerformanceCounterDataSourceConfiguration, Sources" />
    <section name="databaseSource" type="Sources.SqlServerDataSourceConfiguration, Sources" />
  </configSections>

  <appSettings>
    <add key="outputPath" value="." />
  </appSettings>

  <performanceCounterSource>
    <counters>
      <add name="Committed Bytes" categoryName="Memory" counterName="Committed Bytes" />
      <add name="% Processor" categoryName="Processor" counterName="% Processor Time" instanceName="_Total" min="0" max="100" />
    </counters>
  </performanceCounterSource>
  
  <processCountingSource>
    <processes>
      <add name="Google Chrome" exe="chrome" />
      <add name="Microsoft Excel" exe="excel" />
    </processes>
  </processCountingSource>

  <databaseSource>
    <databases>
      <add name="SqlServer" query="select * from ExampleData" connectionString="Data Source=.\SQLEXPRESS;Initial catalog=Alembic.Metrics.Dev;Integrated Security=True"/>
    </databases>
  </databaseSource>
</configuration>