<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="processCountingSource" type="Sources.ProcessCountingSourceConfiguration, Sources" />
    <section name="processUptimeSource" type="Sources.ProcessUptimeSourceConfiguration, Sources" />
    <section name="performanceCounterSource" type="Sources.PerformanceCounterDataSourceConfiguration, Sources" />
    <section name="databaseSource" type="Sources.SqlServerDataSourceConfiguration, Sources" />
    <section name="sinks" type="Sinks.CircularDataSinkConfiguration, Sinks" />
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MetricAgent.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="outputPath" value="." />
  </appSettings>

  <performanceCounterSource>
    <counters>
      <add id="Committed Bytes" name="Committed Bytes" categoryName="Memory" counterName="Committed Bytes" delay="1"/>
      <add id="% Processor" name="% Processor" categoryName="Processor" counterName="% Processor Time" instanceName="_Total" min="0" max="100" delay="1"/>
    </counters>
  </performanceCounterSource>
  
  <processCountingSource>
    <processes>
      <add id="Google Chrome" name="Google Chrome" exe="chrome" delay="5"/>
      <add id="GitHub for Windows" name="GitHub for Windows" exe="GitHub" delay="5"/>
    </processes>
  </processCountingSource>

  <processUptimeSource>
    <processes>
      <add id="Google Chrome" name="Google Chrome" exe="chrome" delay="5"/>
      <add id="GitHub for Windows" name="GitHub for Windows" exe="GitHub" delay="5"/>
    </processes>
  </processUptimeSource>

  <sinks>
    <sources>
      <add id="Committed Bytes" points="600" outputPath="."/>
      <add id="% Processor" points="600" outputPath="."/>
      <add id="Google Chrome" points="600" outputPath="."/>
      <add id="GitHub for Windows" points="600" outputPath="."/>
      <add id="SqlServer" points="600" outputPath="."/>
      <add id="SqlServer2" points="600" outputPath="."/>
    </sources>
  </sinks>
  
  <databaseSource>
    <databases>
      <add id="SqlServer" name="SqlServer" query="select * from ExampleData" connectionString="Data Source=.\SQLEXPRESS;Initial catalog=Alembic.Metrics.Dev;Integrated Security=True" delay="60"/>
      <add id="SqlServer2" name="SqlServer2" query="select * from ExampleData" connectionString="Data Source=.\SQLEXPRESS;Initial catalog=Alembic.Metrics.Dev;Integrated Security=True" delay="60"/>
    </databases>
  </databaseSource>
</configuration>